@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    
 
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100; 
       
    margin: 0 auto;
    font-size: 18px;
    color:#040404;
    background-color: #de9e36;
}

#title-container {
    background-image: linear-gradient(to top, #37323e, #726783);
    /* background-color: #37323e; */
    color:#de9e36;
    padding: 50px;
    text-align: center;
}

h1 {
    
    text-shadow: 2px 2px 2px #161419;
    word-spacing: 2px;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    text-transform: capitalize;
}

h3{
    text-transform: uppercase;
    cursor: pointer;
}

/* end SELETTORE PER CAMBIO COLORE AL PASSAGGIO DEL MOUSE PER 
H3 PARI E DISPARI  */
div.card_container:nth-of-type(2n+1) h3:hover{
    color:#7342bd;
}

div.card_container:nth-of-type(2n) h3:hover{
    color:#de9e36;
}
/* end SELETTORE PER CAMBIO COLORE AL PASSAGGIO DEL MOUSE PER 
H3 PARI E DISPARI  */

p.par_header {
    padding: 20px 50px;
}

span {
    font-weight:bold ;
}

div.elenco_ul{
    max-width: fit-content;
    margin: 0 auto;
}

ul {
    padding: 20px 50px;
    list-style-position:inside;
    list-style-image: url("../../assets/img/planet.png");

}

li {
    padding: 10px 20px;
}

div.paragrafi {
    border: 3px solid #37323e;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom,  #AF771D 5%,#DE9E36,#AF771D 95%);
}

div#header {
    background-color: #eee;
    /* background-image: radial-gradient(circle at 50% 30%, rgb(222, 158, 54),rgba(222, 158, 54, 0)75%); */
     background-image:linear-gradient(to bottom, rgb(222, 158, 54)50%,rgba(222, 158, 54, 0) );
    padding: 20px;
}

div.card_container:nth-of-type(2n+1)
{
    background-color:#ADACAF;
}

div.card_container:nth-of-type(2n)
{
    background-color:#D6D5D7;
    
}

div.card_container {

    display: inline-block;
    width: calc(33.333333% - 20px);
    min-width: 150px;
    /* margin: 15px; */
    border: 2px solid #37323e;
    font-size: 18px;
    margin: 10px;
    box-shadow: 1px 1px 1px 2px #ADACAF;
    
}

div.card_title {
    border-bottom: 2px solid #37323e;
    text-align: center;
    padding: 5px;
}
p.par_body {
    padding: 10px;
    min-height: 200px;
    max-height: 200px;
    overflow-y:auto;
    scrollbar-width: none;
    text-overflow: ellipsis;
}

div.card_footer {
    border-top: 2px solid #37323e;
    text-align: center;
    padding: 20px;
}

#body {
    /* font-size: 0; */
    background-color: #eee;
    padding: 10px;
    font-size: 0;
}

#footer {
    padding: 20px;
}

address{
    display: inline-block;
}

dt {
    width: 20%;
    display: inline-block;
    min-width: 200px;
}

dd {
    width: 20%;
    display: inline-block;
    min-width: 200px;
    margin-left: 55px;
}


